/*全局*/
small{font-weight: normal}
.navbar-brand small{font-size:12px;}
.navbar-brand small .active{
    color: #ffffff;}
/*#page-wrapper{top: 30px;}*/
#page-inner{min-height: 0px;}

.gomage-title{max-width: 400px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;}
.gomage-avatar{height: 80px;width: 80px;border: 1px solid #DDDDDD;padding: 2px;border-radius: 50%;}
textarea{resize: none;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{vertical-align:middle;}
table .form-group{margin-bottom: 0px;}
.no-padding{padding: 0px !important;}
.no-padding-left{padding-left: 0px !important;}
.gomage-alert{position: fixed;top: 80px;z-index: 99999;right: 30px;margin: 0px auto;font-weight: bold;display: none;min-width: 200px;}

.page-common .panel-heading .col-md-8{padding-left: 0px;}
.page-common tbody tr td{line-height: 200% !important;}
.page-common .panel-heading .btn-group{margin-left:-15px;}




.gomage-preview-box{padding: 0px;overflow: scroll;width:420px;height:290px;text-align: center;}
.gomage-watermark-position span{display: inline-block;width: 20px;height: 20px;border: 1px solid #DDDDDD;text-align: center;
    cursor: pointer;margin-bottom: 3px;
}
.gomage-watermark-position span:hover,.gomage-watermark-position span.active{
    background-color: #DDDDDD;
}



